<!DOCTYPE html>
<html>

<head>
    <title>LOTO 6/45</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="./styles/home.css"/>
</head>

<body class="content">

<main class="main">
    <div class="main-loto-div">
        <h1>Welcome to LOTO 6/45</h1>
        <% if(user) {%>
            <div class="user-info-div">
                <h1>Hello, <%= user.name %>!</h1>
                <a href="/logout" class="logout-btn"><button>Click here to log out</button></a> 
            </div>
        <% } %>
        <% if(!user) {%>
            <a class="login-btn" href="/login"><button>Log In</button></a>
            <p>Please log in to continue.</p>
        <% } else {%>
            <form class="loto-form" action="/store-result" method="post">
                <label class="loto-label" for="numbers">Write your Loto 6/45 numbers below:</label>
                <input class="loto-numbers-input" type="text" name="numbers" id="numbers" minlength="1">

                <label class="loto-label" for="oib">OIB or passport ID:</label>
                <input class="loto-oib-input" type="text" name="oib" id="oib" maxlength="20" minlength="1">

                <button class="submit-ticket-btn" type="button" onclick="storeResult()">Submit ticket</button>
                        
                <% if (err !== undefined ) { %>
                    <p class="alert"><%= err %></p>
                <% } %>

                <% if (qr !== undefined ) { %>
                    <img class="qr-img" src="<%= qr %>">
                <% } %>
            </form>

        <% } %>
        
        
    </div> 
</main>

</body>

</html>


<script>

    function storeResult() {
        const ticketData = {
            numbers: document.getElementById('numbers').value,
            oib: document.getElementById('oib').value
        }
        if (!ticketData.numbers || !ticketData.oib) {
            document.querySelector('.alert').innerHTML = "Please fill in all fields.";
            document.querySelector('.qr-img').src = "";
            return;
        }

        fetch('/store-result', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(ticketData)
        }).then(response => response.json())
        .then(data => {
            if (data.err) {
                document.querySelector('.alert').innerHTML = data.err;
                document.querySelector('.qr-img').src = "";
            } else {
                if (data.qr) {
                    document.querySelector('.alert').innerHTML = "";
                    document.querySelector('.qr-img').src = data.qr;
                }
            }
        }).catch((error) => {
            console.error('Error:', error);
        });
    }
</script>